.hall.main-wrapper {
  padding: 15px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hall.main-wrapper .hall.box {
    margin: 20px;
    padding: 15px;
    height: 100%;
    width: 500px;
    background: #2d4a28;
    background: radial-gradient(circle, #474e4652 17%, #212820c2 55%);
    box-shadow: 0 0 15px #141414cf;
    border-radius: 20px; }
    .hall.main-wrapper .hall.box .list-box {
      height: 90%;
      max-width: 100%;
      overflow-y: scroll; }
      .hall.main-wrapper .hall.box .list-box .list-element {
        margin-bottom: 10px;
        padding: 10px;
        background-color: #53604f1f;
        box-shadow: 2px 2px 4px #2e312ee6; }
      .hall.main-wrapper .hall.box .list-box .checked {
        background-color: lightcoral; }
    .hall.main-wrapper .hall.box .hall.logs {
      background-color: saddlebrown;
      width: 100%;
      height: 20%;
      overflow-y: scroll; }
