video {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  z-index: -5; }

.bg-video-shadow {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  z-index: -3;
  background: black;
  background: linear-gradient(90deg, black 0%, #464646 100%);
  opacity: .7; }

.home.main-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden; }
  .home.main-wrapper .story-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; }
    .home.main-wrapper .story-wrapper .story-box {
      position: relative;
      height: 80%;
      width: 50%;
      top: 0;
      left: 0;
      overflow: hidden; }
      .home.main-wrapper .story-wrapper .story-box p {
        font-family: 'Cormorant Unicase', serif;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 2em;
        opacity: .35;
        letter-spacing: .5px;
        line-height: 40px; }
    .home.main-wrapper .story-wrapper .audio-btn {
      position: absolute;
      left: 20px;
      bottom: 20px;
      max-height: 40px;
      border-radius: 50px;
      justify-content: center;
      opacity: 0.4; }
      .home.main-wrapper .story-wrapper .audio-btn i {
        opacity: 1;
        color: #bfbfbf; }
  .home.main-wrapper .home.box {
    margin: 15px;
    padding: 15px;
    height: 95%;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #2d4a28;
    background: radial-gradient(circle, #474e4652 17%, #212820c2 55%);
    box-shadow: 0 0 15px #141414cf;
    border-radius: 20px 0 0 20px; }
    .home.main-wrapper .home.box h1 {
      font-size: 4.3em;
      color: #bfbfbf; }

.jello-horizontal {
  animation: jello-horizontal 0.9s both; }

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
