@import 'variables';

h1 {
  margin: 10px;
  font-size: 2rem;
  font-family: "Cormorant Unicase", serif;
  color: $white;
  text-shadow: 5px 3px 3px $shadow-color;
}

p {
  font-family: "El Messiri", sans-serif;
  font-size: 1.6em;
  color: $grey;
}