<div class="main-wrapper error">
    {{>battlefield-img}}
    <div class="error-box">
        <p>Please accept an audio</p>
        <button id="approve">Approve</button>
        <a href="https://developer.chrome.com/blog/autoplay/">audio policy</a>
    </div>
</div>
<script type="module" src="./front_approve.js"></script>
