<div class="main-wrapper error">
    {{>battlefield-img}}
    <div class="error-box no-warriors">
        <h1>400</h1>
        <p class="justify">The fight is over or warriors aren't chosen. Please select warriors from the hall panel to enter the arena.</p>
        <a href="/hall">back</a>
    </div>
</div>
<script type="module" src="./front_approve.js"></script>