<div class="home main-wrapper">

    <video src="video/darkness_big.mp4" autoplay muted loop></video>
    <div class="bg-video-shadow"></div>

    <div class="story-wrapper">
        <div class="story-box">
            <p class="story-text">
                <br>
                "And the Philistines assembled their camps to war; and they assembled at Sochoh which belonged to Judah,
                and they encamped between Sochoh and Azekah in Ephes-dammim.<br>
                And Saul and the men of Israel assembled, and they encamped in the Valley of the Terebinth, and they set
                the battle in array against the Philistines.<br>
                And the Philistines were standing on the mountain from here, and Israel was standing on the mountain
                from here, and the valley was between them.<br>
                And the champion emerged from the Philistines' camp, named Goliath, from Gath; his height was six cubits
                and a span.<br>
                And a helmet of copper was on his head, and he was wearing a coat of mail, and the weight of the coat
                was five thousand shekels of copper.<br>
                And greaves of copper were on his legs, and a copper javelin was between his shoulders.
                And the shaft of his spear was like a weaver's beam, and the spear's head was six hundred shekels of
                iron, and the shield-bearer went before him.<br>
                And he stood and called to the array of Israel, and he said to them, "Why should you come out to wage
                war? Am I not the Philistine, and you the servants of Saul? Choose for yourselves a man, and let him
                come down to me.<br>
                If he is able to fight with me and kill me, we shall be slaves to you, and if I overcome him, and kill
                him, you shall be slaves to us and serve us."<br>
                And the Philistine said, "I taunt the ranks of Israel this day; give me a man, and let us fight
                together."<br>
                And Saul and all Israel heard these words of the Philistine, and they were panic stricken and very much
                afraid.<br>
                And David was the son of this Ephrathite man from Bethlehem of Judah, whose name was Jesse; and he had
                eight sons; and the man was old in Saul's time, coming among men.<br>
                And Jesse's three eldest sons who had followed Saul, went to war; and the names of his three sons who
                went to war, were: Eliab, the firstborn, and the second to him, Abinadab, and the third, Shammah.
                And David was the youngest, and the three eldest followed Saul.<br>
                Now David went to and fro from Saul, to tend his father's sheep in Bethlehem.<br>
                And the Philistine drew near morning and evening, and presented himself forty days.<br>
                And Jesse said to David his son, "Take now to your brothers, an ephah of this parched corn and ten
                loaves of this bread, and rush them to the camp, to your brothers.<br>
                And you shall bring these ten cheeses to the captain of the thousand, and you shall see how your
                brothers are faring, and you shall take the tidings of their welfare."<br>
                And Saul and they, and all the men of Israel in the Valley of the Terebinth, were at war with the
                Philistines.<br>
                And David arose early in the morning, and he left the sheep with a keeper; and he carried off and went,
                as Jesse had commanded him; and he came to the barricade, and the army which was going out to the battle
                array, shouted in the battle.<br>
                And the Israelites and the Philistines put the battle in array, army against army.<br>
                And David left the baggage in the hand of the keeper of the baggage, and he ran to the battle array, and
                he came and greeted his brothers.<br>
                And while he was speaking with them, behold, the champion, named Goliath the Philistine, from Gath, was
                coming up from the ranks of the Philistines, and he spoke the same words (as before), and David
                heard.<br>
                And all the men of Israel, upon seeing the man, fled from before him, and were exceedingly
                frightened.<br>
                And the men of Israel said, "Have you seen this man who is coming up, for he is coming up to taunt
                Israel? And it will be, that the man who will kill him, the King will enrich him with great riches, and
                he will give him his daughter, and he will make his father's house free in Israel."<br>
                And David said to the men who were standing before him, saying, "What shall be done to the man who slays
                that Philistine, and takes away reproach from Israel, for who is this uncircumcised Philistine, that he
                should taunt the ranks of the living God?"<br>
                And the people said to him, "So shall be done to the man who slays him."<br>
                And Eliab, his eldest brother, heard when he spoke to the men, and Eliab's wrath was kindled against
                David, and he said, "Why have you come down? With whom have you left those few sheep in the desert? I
                know your impetuousness, and the evil of your heart, for you have come down in order to see the
                war."<br>
                And David said, "What have I done now? Is it not but a word?"<br>
                And he turned around from him, toward another. And he spoke according to the same manner, the people
                answered according to the former manner.<br>
                And the words which David had spoken, were heard. And they related (them) before Saul, and he took him.
                And David said to Saul, "Let no man's heart fail because of him. Your bondsman will go, and battle with
                the Philistine."<br>
                And Saul said to David, "You are unable to go to this Philistine to battle with him, for you are a lad,
                and he is a warrior since his youth."<br>
                And David said to Saul, "Your bondsman was a shepherd of sheep for his father, and there came a lion and
                also a bear, and carried off a lamb from the flock.<br>
                And I went out after him and smote him, and saved it from his mouth. And he arose upon me, and I took
                hold of his jaw, and I smote him and slew him.<br>
                Both the lion and the bear has your bondsman slain, and the uncircumcised Philistine shall be like one
                of them, for he taunted the armies of the living God."<br>
                And David said, "The Lord Who saved me from the paw of the lion and from the paw of the bear, He will
                save me from the hand of this Philistine." And Saul said to David, "Go, and may the Lord be with
                you."<br>
                And Saul dressed David with his garments, and he placed a copper helmet on his head, and he dressed him
                with a coat of mail.<br>
                And David girded his sword over his garments, and he did not want to go (in them), for he was not
                accustomed, and David said to Saul, "I cannot go with these, for I am not accustomed." And David took
                them off.<br>
                And he took his staff in his hand, and he chose for himself five smooth pebbles from the brook, and he
                placed them in the shepherds' bag which he had, and in the sack, and his slingshot was in his hand, and
                he approached the Philistine.<br>
                And the Philistine was continuously drawing nearer to David, and the man who bore the shield was before
                him.<br>
                And the Philistine looked and saw David, and he despised him, for he was a youth, and ruddy, with an
                attractive appearance.<br>
                And the Philistine said to David, "Am I a dog, that you come to me with sticks?" And the Philistine
                cursed David by his god.<br>
                And the Philistine said to David, "Come to me, and I shall give your flesh to the fowl of the air, and
                to the cattle of the field."<br>
                And David said to the Philistine, "You come to me with sword, spear and javelin, and I come to you with
                the Name of the Lord of Hosts, the God of the armies of Israel which you have taunted.<br>
                This day, the Lord will deliver you into my hand, and I shall slay you, and take off your head, and I
                shall give the carcasses of the camp of the Philistines this day, to the fowl of the air and to the
                beasts of the earth, and all the earth shall know that Israel has a God.<br>
                And all this assembly shall know that not with sword and javelin does the Lord save, for the battle is
                the Lord's, and He will deliver you into our hand."<br>
                And it was, when the Philistine arose and drew closer to David, that David hastened and ran to the
                battle array, toward the Philistine.<br>
                And David stretched his hand into the bag, and took a stone therefrom, and slung it, and he hit the
                Philistine in his forehead, and the stone sank into his forehead, and he fell on his face to the ground.
                And David overpowered the Philistine with the slingshot and with the stone, and he smote the Philistine
                and slew him: and no sword was in David's hand.<br>
                And David ran and stood up to the Philistine, and he took his sword and drew it from its sheath, and
                slew him, and with it, severed his head. And the Philistines saw that their hero had died, and they
                fled.<br>
                And the men of Israel and Judah arose and shouted, and pursued the Philistines until you come to the
                valley, and until the Gates of Ekron; and the slain of the Philistines fell on the road of Shaaraim, and
                up to Gath and up to Ekron.<br>
                And the children of Israel returned from pursuing the Philistines, and plundered their camps.<br>
                And David took the head of the Philistine, and brought it to Jerusalem, and his weapons, he put in his
                tent.<br>
                And when Saul saw David going out toward the Philistine, he said to Abner, the general of his army,
                "Whose son is this youth, Abner?" And Abner said, "By your life, O King, I know not."<br>
                And the king said, "You ask whose son this youth is."<br>
                And as David returned from slaying the Philistine, Abner called him, and brought him before Saul, and
                the Philistine's head was in his hand.<br>
                And Saul said to him, "Whose son are you, young man?" And David said, "The son of your bondsman, Jesse
                the Bethlehemite."" <br>
            </p>
        </div>
    </div>

    <div class='home box test'>
        <h1>Welcome to the ARENA!</h1>

        <button id="btn-start" class="btn-start">Let's War!</button>

        <p class="about">about</p>
    </div>


    <button id="audioBtn" class="audio-btn">
        <i class="fa-solid fa-play"></i><i class="fa-solid fa-pause"></i>
    </button>
</div>

<script type="module" src="./front_home.js"></script>