<div class="main-wrapper approve">
    <div class="audio-aprove-box">
        <h1>404</h1>
        <p>not found</p>
        <a href="/home">back</a>
    </div>
</div>
<script type="module" src="./front_approve.js"></script>