@import '../base/variables.scss';

.main-wrapper.error {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5a5a5a;

  .battlefield-img {
    position: absolute;
    background-image: url('../../img/battlefield.svg');
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .2;
    z-index: 1;
  }

  .error-box {
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #1c3c19 20%, #1e2e1400 90%);
    border-radius: 10px;
    z-index: 2;
  }

  h1 {
    margin: 0;
  }

  p {
    margin: 15px 0;
  }
;

  button {
    margin-bottom: 25px;
  }

  a {
    font-family: "El Messiri", sans-serif;
    color: $white;
    text-decoration: none;
  }

  .justify {
    text-align: justify;
  }

  .no-warriors {
    padding: 35px;
  }
}