.main-wrapper.approve {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5a5a5a;

  .audio-aprove-box {
    //height: 200px;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #2d4a28;
  }
}