@import '../base/variables.scss';

.arena.main-wrapper {
  padding: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;


  .final-window-shadow {
    display: none;
    //display: flex;  // - after fade-id;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    //background: radial-gradient(circle, #000000 15%, #000000b5 60%);
    background: radial-gradient(circle, #ffffff 0, #d0a952b5 92%); //- opcja jasnego tła na finiszu. wymaga nowych styli dla boxa;
    z-index: 2;
    animation: fadein;
    animation-duration: 8s;

    .final-window-box {
      display: none;
      position: relative;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: 420px;
      width: 530px;
      z-index: 3;
      overflow: hidden;

      background: rgb(45, 74, 40);
      background: radial-gradient(circle, #285624d4 20%, #000000 150%);
      border-radius: 20px;

      .bg-img {
        position: absolute;
        height: 90%;
        right: 0;
        filter: invert(1) opacity(0.1);
        z-index: -1;
      }

      .crown-wrapper {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        z-index: -1;
        box-shadow: 0 0 50px white;

        .fa-crown {
          font-size: 20em;
          background: radial-gradient(circle, #a0a0a066 0%, #1c241b 80%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          filter: drop-shadow(0 0 14px #464c4652);
          opacity: .5;
          animation: float 4s ease-in-out infinite;
          z-index: -1;
        }
      }

      h1 {
        margin: 10px 0 20px 0;
        font-size: 7em;

        animation: focus-text;
        animation-duration: .5s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
      }

      .text-wrapper {
        text-align: center;

        p {
          font-size: 2em;
        }
      }

      .fa-xmark {
        padding: 10px;
        position: absolute;
        top: 14px;
        right: 20px;
        font-size: 1.5em;
        color: $white;
        opacity: .6;
      }

      .fa-xmark:hover {
        cursor: pointer;
      }
    }

    button {
      background: radial-gradient(circle, #285624d4 20%, #000000 150%);
      margin-top: 20px;
      width: 300px;
    }
  }

  .arena.box {
    background: radial-gradient(circle, #474e4652 17%, #212820c2 55%);
    margin: 20px;
    padding: 15px 10px;

    height: 100%;
    //width: 50vw;

    border-radius: 20px;
    box-shadow: 0 0 15px #141414cf;
  }

  .arena.box.warriors {
    flex-basis: 60%;

    .warriors-info-wrapper {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      h1 {
        align-self: flex-start;
      }

      .back-to-hall-btn2 {
        display: block;
        visibility: hidden;
        width: 100%;
        opacity: .5;
      }

      .warrior-info-box {
        position: relative;
        margin: 15px;
        padding: 15px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 90%;
        height: 30%;

        background-color: #53604f1f;
        box-shadow: 2px 2px 4px #2e312ee6;
        border-radius: 15px;
        transition: 1s;

        p {
          font-size: 2em;
        }

        .bg-img {
          position: absolute;
          height: 90%;
          right: 10%;
          filter: invert(1) opacity(0.3);
          z-index: -1;
        }
      }

      .progress-bar {
        position: relative;
        width: 100%;
        height: 40px;
        background-color: #ff000024;
        //border: 1px solid black;
        border-radius: 3px;


        .progress-bar-fill {
          height: 100%;

          background: rgb(138, 30, 30);
          background: linear-gradient(90deg, rgba(138, 30, 30, 0.20) 0%, rgba(55, 129, 55, 0.90) 46%, #50aa503d 100%);
          background-attachment: fixed;
          box-shadow: 0 0 1px #ffffff61;
          transition: width 0.5s;
          border-radius: 5px;
        }

        .progress-bar-value {
          position: absolute;
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: "El Messiri", sans-serif;
          font-size: 1.5em;
          color: $white;
        }
      }
    }

    button {
      bottom: 35px;
      left: 60px;
    }
  }

  .arena.box.logs {
    flex-basis: 40%;

    .list-box {
      height: 90%;
      max-width: 100%;
      overflow-y: scroll;

      .list-element {
        margin-bottom: 10px;
        padding: 8px;
        margin-right: 10px;
        //height: 10%;
        background-color: #53604f1f;
        box-shadow: 2px 2px 4px #2e312ee6;
        border-radius: 10px;

        animation-name: appear;
        animation-duration: 1s;
        //animation-direction: alternate;
        //animation-iteration-count: infinite;


        p.round {
          color: $colored-yellow;

        }

        span.color-attack {
          color: #efbd71;
        }

        span.color-before {
          color: #5f745f;
        }

        span.color-after {
          color: #745f5f;

        }
      }

      .warrior-1 {
      }

      .warrior-2 {
        background-color: #75ada417;
      }

      .winner-element {
        background-color: #75ada417;
      }

      .checked {
        background-color: lightcoral;
      }
    }
  }
}

//  ##################animations##################
.box-attack {
  animation: box-attack;
  animation-duration: .3s;
  animation-direction: alternate;
}

.box-defence {
  animation: box-defence;
  animation-duration: 1s;
}

.attack-up {
  animation: attack-up;
  animation-duration: .3s;
  animation-direction: alternate;
}

.attack-down {
  animation: attack-down;
  animation-duration: .3s;
  animation-direction: alternate;
}

.defence-scale {
  animation: defence-scale;
  animation-duration: 1s;
}


@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes box-attack {
  0% {
    background-color: rgba(255, 255, 255, 0.15);
  }
  100% {
    background-color: #53604f1f;
  }
}

@keyframes box-defence {
  0% {
    background-color: rgba(170, 70, 70, 0);
  }
  10% {
    background-color: rgba(72, 18, 18, .1);
  }
  20% {
    background-color: rgba(72, 18, 18, 0.3);
    box-shadow: 0 0 50px rgba(255, 0, 0, 0.1);
  }
  100% {
    background-color: #53604f1f;
  }
}

@keyframes attack-up {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes attack-down {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes defence-scale {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(0.95);
  }
  80% {
    transform: scale(1);
  }
}

@keyframes float {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@keyframes focus-text {
  from {
    text-shadow: 0 0 5px #274431;
  }
  to {
    text-shadow: 0 0 10px #e3a21194;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//  ##################media##################
@media (max-width: 1280px), (max-height: 850px) {
  .list-element.ranking {
    overflow-y: scroll;

    p {
      font-size: 1.5em;
    }
  }
  .progress-bar {
    margin-top: 10px;
  }
}