@import '../variables';

.hall.main-wrapper {
  padding: 15px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .hall.box {
    margin: 20px;
    padding: 15px;
    height: 100%;
    width: 500px;
    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    //text-align: center;
    background: rgb(45, 74, 40);
    background: radial-gradient(circle, #474e4652 17%, #212820c2 55%);
    box-shadow: 0 0 15px $shadow-color;
    border-radius: 20px;

    .list-box {
      height: 90%;
      max-width: 100%;
      overflow-y: scroll;

      .list-element {
        margin-bottom: 10px;
        padding: 10px;
        background-color: $list-element-bgc;
        box-shadow: 2px 2px 4px #2e312ee6;
      }

      .checked {
        background-color: lightcoral;
      }
    }

    .hall.logs {
      background-color: saddlebrown;
      width: 100%;
      height: 20%;
      overflow-y: scroll;
    }

  }
}