@import '../base/variables.scss';

.home.main-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  .story-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    .story-box {
      position: relative;
      height: 80%;
      width: 50%;
      top: 0;
      left: 0;
      overflow: hidden;

      p {
        font-family: 'Cormorant Unicase', serif;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 2em;
        opacity: .35;
        letter-spacing: .5px;
        line-height: 40px;
      }
    }
  }

  .home.box {
    margin: 15px;
    padding: 15px;
    height: 95%;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: rgb(45, 74, 40);
    background: radial-gradient(circle, #474e4652 17%, #212820c2 55%);
    box-shadow: 0 0 15px $shadow-color;
    border-radius: 20px 0 0 20px;

    h1 {
      font-size: 4.3em;
      color: $white;
    }

    .about-btn {

    }

    .about-btn:hover {
      cursor: pointer;
    }

    .btn-start {
      margin-bottom: 7px;
      opacity: 0.85;
    }
  }
}

//  #animations:
.jello-horizontal {
  animation: jello-horizontal 0.9s both;
}

.home-fade-in {
  animation: fadeIn;
  animation-duration: 1.5s;
}

.home-fade-out {
  animation: fadeOut;
  animation-duration: 1s;
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}