h1 {
  margin: 10px;
  font-size: 2rem;
  font-family: "Cormorant Unicase", serif;
  color: #bfbfbf;
  text-shadow: 5px 3px 3px #141414cf; }

p {
  font-family: 'Consolas', sans-serif;
  color: #ababab; }
